h1 , h4{
             text-align: center;
             margin: 50px 50px 50px;
             padding: 10px ;
             text-shadow: 5px;
             background-color: aqua;
             box-shadow: 10px ;
             border: 1px;
}

